<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Bạn thấy đẹp là tôi vui !</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Nhiệm vụ làm đẹp tổ ấm của bạn hãy giao cho chúng tôi. còn việc của bạn là hãy tin tưởng và chuẩn bị tiền</p>
                <a class="btn btn-primary btn-xl" routerLink="product-list">Xem các sản phẩmb </a>
            </div>
        </div>
    </div>
</header>
