.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}

.product:hover {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.product img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.product img:hover {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.product h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.product p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #666;
}

.product .price {
  font-size: 24px;
  font-weight: bold;
  color: #4CAF50;
  margin-bottom: 10px;
}

.product button {
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.product button:hover {
  background-color: #4dcc51;
}

.product img:hover {
  transform: scale(1.4);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.product {
  float: left;
}

.mar {
  height: 150px;
}

.edit-product {
  margin: 4px;
  background-color: rgb(230, 220, 84);
}

.delete-product {
  background-color: rgb(228, 105, 56);
}

.create-product {
  margin: 2px;
  background-color: #636561;
  height: 50px;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}

.create-product:hover {
  background-color: #37c53c;
}

.fix {
  max-width: 30%;
}

.center {
  text-align: center;
}

.btn-them {
  margin-right: 900px;
  margin-left: 20px;
}

.form-group {
  margin: 20px 1px;
}

#nhapnhay {
  animation: nhapnhay 1s linear infinite;
}

@keyframes nhapnhay {
  70% {
    opacity: 0;
  }
}

.centerscale:active {
  transform: scale(5);
}