<div class="omtatca">
  <app-nav></app-nav>
<body id="page-top">
  <!-- Navigation-->
  <!-- Masthead-->
  <app-header></app-header> 
  <!--banner-->
  <!-- About-->
  <router-outlet></router-outlet>
  <!-- Services-->
  <!-- sp-->
  <app-sp></app-sp>
  <!-- Call to action-->
  <!-- Contact-->
  <app-contact></app-contact>
  <footer class="bg-light py-5">
    <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - Xuan Huy</div></div>
  </footer>
</body> 
</div>

